footer {
    background-color: #000;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #ffcc00;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    color: #ffcc00;
}
body {
    font-family: 'Roboto', sans-serif;
    background: url('https://www.toptal.com/designers/subtlepatterns/uploads/starry-night.png');
    color: #c5c6c7;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ffcc00;
}
header h1 {
    margin: 0;
    font-size: 3em;
    color: #ffcc00;
    font-family: 'Orbitron', sans-serif;
}
nav {
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    color: #000;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}
nav a:hover {
    text-decoration: underline;
}
.secao {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.intro {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.intro p {
    font-size: 1.2em;
    line-height: 1.6;
}
.titulo-secao {
    text-align: center;
    font-size: 2em;
    color: #ffcc00;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}
.trilogia {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.trilogia .filme {
    width: 30%;
    background-color: #1f2833;
    padding: 20px;
    border-radius: 10px;
}
.trilogia .filme img {
    width: 100%;
    border-radius: 10px;
}
.trilogia .filme h3 {
    color: #ffcc00;
    text-align: center;
}
.tabela-personagens {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    color: #000;
}
.tabela-personagens th, .tabela-personagens td {
    border: 1px solid #ffcc00;
    padding: 10px;
    text-align: left;
}
.tabela-personagens th {
    background-color: #1f2833;
    color: #ffcc00;
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}
.galeria img {
    width: 30%;
    margin-bottom: 20px;
    border: 3px solid #ffcc00;
    border-radius: 10px;
}
.curiosidades {
    margin-bottom: 40px;
}
.curiosidades ul {
    padding: 0;
}
.curiosidades li {
    background-color: #1f2833;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.personagem {
    margin-bottom: 40px;
}
.personagem img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.personagem h2 {
    color: #ffcc00;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}
.personagem p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #000;
}
.personagem .curiosidades ul {
    list-style-type: none;
    padding: 0;
}
.personagem .curiosidades li {
    background-color: #1f2833;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.titulo-secao {
    text-align: center;
    font-size: 2em;
    color: #ffcc00;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}

.movie {
    margin-bottom: 40px;
}

.movie img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.movie h2 {
    color: #ffcc00;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

.movie p {
    font-size: 1.2em;
    line-height: 1.6;
    color: black;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
        text-align: center;
    }

    .titulo-secao {
        font-size: 1.5em;
    }

    .filme h2 {
        font-size: 1.2em;
    }

    .filme p {
        font-size: 1em;
    }

    .filme img {
        display: flex;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .titulo-secao {
        font-size: 1.2em;
    }

    .filme h2 {
        font-size: 1em;
    }

    .filme p {
        font-size: 0.9em;
    }
}
